:root {
  --color-teal: #51d4d5;
  --color-dark-teal: #007d7d;
  --color-dark-teal-highlight: #009999;
  --color-black: #000000;
  --color-grey: #444444;
  --color-offgrey: #393939;
  --color-lightgrey: #555555;
  --color-offwhite: #f7f7f7;
  --color-white: #ffffff;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  background: var(--color-grey);
  color: var(--color-offwhite);
  /* scroll-behavior: smooth; */
}

/* @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
} */

body {
  font-size: 1.125em;
}

em {
  color: var(--color-teal);
  font-style: normal;
}

p {
  font-weight: 300;
  text-align: justify;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

@media (min-width: 1024px) {
  p { text-align: left; }
}

h1 {
  font-size: 2em;
}

button, .button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: rgba(0, 125, 125, 0.75);
  border: none;
  font-size: 1em;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: var(--color-offwhite);
  padding: 0.5em 1.5em;
  line-height: 1;
  border-radius: 0.25em;
  /* box-shadow: 0.25em 0.25em rgba(0, 125, 125, 0.5); */
}

button::after, .button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 24, 48, 0.5);
  bottom: -0.25em;
  right: -0.25em;
  border-radius: 0.25em;
  z-index: -1;
}

button:hover, button:focus,
.button:hover, .button:focus {
  background: var(--color-dark-teal-highlight);
}

button:active, .button:active {
  top: 0.125em;
  left: 0.125em;
}

button:active::after, .button:active::after {
  bottom: -0.125em;
  right: -0.125em;
}

input[type="text"], input[type="email"], textarea {
  background: rgba(100, 100, 100, 0.5);
  color: var(--color-white);
  font-size: 1em;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  padding: 0.5em;
  border-radius: 0.25em;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
  font-style: italic;
  font-weight: 300;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  background: rgba(100, 100, 100, 1);
}

textarea {
  min-height: 7em;
  max-width: 100%;
}
